header {
  text-align: center;
}

span {
  font-size: 20px;
}
h1 {
  font-size: clamp( 40px, 6vw, 70px );
  margin: 2%
}


.Body {
  display: grid;
  justify-content: center;
  margin: 10px;
}

.pasos, .tweetgen {
  display: grid;

  margin:2.3vh 0;
  grid-gap: 30px;
}

.paso1 {
  width: 100%;
}

.paso2 {
  justify-content: center;
}

.bold {
  font-weight: bold;
}