header {
  text-align: center;
}

span {
  font-size: 20px;
}
h4 {
  font-size: 4vmax;
}
h5 {
  font-size: 2vmax;
}

.Body {
  display: grid;
  justify-content: center;
  margin: 10px;
}

.pasos, .tweetgen {
  display: grid;

  margin:2vh 0;
  grid-gap: 30px;
}

.paso1 {
  width: 100%;
}

.paso2 {
  justify-content: center;
}