h4 {
    font-size: clamp( 10px, 6vw, 40px );
}
h5 {
  font-size: clamp( 10px, 4vw, 20px );
}
input{
  
  width: 70%;
  font-size: clamp( 5px, 4vw, 20px );
  border-radius: 8px;
}

button {
    width: 28%;
    font-size: clamp( 4px, 3vw, 18px );
    background-color: #008CBA;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
  }
button {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    border-radius: 8px;
  }
  
button:hover {
    background-color: #008CBA;
    color: white;
  }

.card {
    z-index: 1;
    width: 90vw;
    max-width:650px ;
    height: 100%;

    background: rgba(0, 0, 0, 0);
    border-radius: 8px;
    border: 1px solid #b1b3b6;
    box-shadow: 0px 0px 12px 0px rgb(168, 166, 166);
}

.card-body {
    margin: 1% 2%;
}

.card-title, .card-text{
    margin: 2% 3%;
}

.card-bot {
    display: flex;
    margin: 2% 3%;
    justify-items: end;
    grid-gap: 3%;
}

.card-buttons {
    display: flex;
    justify-content: center;
    grid-gap: 10%;
    margin: 2% 3%;
}